.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #185a9d;
  border-color: #2280dd;
}

.well.profile-contact-info {
  background-color: #185a9d;
  border-color: #2280dd;
}